/* Remover el borde de la tabla principal */
.MuiDataGrid-root {
  border: none;
  /* overflow-y: auto; */
  border-style: none !important;
  color: white!important;
  /* height: 100%; */
}
.MuiIconButton-sizeSmall {
  color: white!important;
}
/* Remover el borde de las celdas */
.MuiDataGrid-cell {
  border: none;

  border-color: rgba(255, 255, 255, 0.3) !important;
}
.MuiTablePagination-root{
  color: white!important;
}
.MuiDataGrid-row:hover {
  background-color: #f4b5cd !important;
  color: black;
}

.MuiDataGrid-cell:focus {
  outline: none !important;
}

.data-grid-container {
  /* height: 1400px; */
  width: 100%;
  overflow-y: auto; /* Habilita el desplazamiento vertical cuando sea necesario */
}


.MuiDataGrid-main * {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}