@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@font-face {
  font-family: 'Laussane Pro';
  src: url('../src/fonts/Lausanne-300.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'Faro Pro';
  src: url('../src/fonts/Faro-DisplayLucky.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #231f20;
  color: #ffffff;
  height: 100%;
}


.dashboard-container {
  font-family: 'Laussane', sans-serif;
}

.dashboard-container h2.text-2xl, .dashboard-container h2.text-4xl, .dashboard-container h2.text-8xl {
  font-family: 'Faro', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.hp-reserve-details {
  position: fixed;
  top: 0;
  right: 0;
  /* background-color: #222; */
  overflow: scroll;
  min-height: 100%;
  /* width: 50%; */
}

.reserve-details-inner span {
  /* text-transform: capitalize; */
}

.top-column-indicator {

}

.hp-reserve-outter, .top-column-indicator {
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem; 
}

.hp-reserve-outter:hover * {
  color: #221F20;
}

.pop-field p {
  font-size: 11px;;
}

.pop-field input, .pop-field select {
  padding: 1rem;
  padding-left: 1.2rem;
}




.reserve-container {
  /* width: 80% !important; */
  /* overflow: scroll; */
}

.reserve-content {
  height: 60vh;
  overflow: scroll;

  @media screen and (max-width: 580px) {
    height: 73vh;
  }
}


@media screen and (max-width: 580px) {
 .reserve-content input,  .reserve-content select, .pop-field , .pop-field div {
  width: 100%;
 }
}

.reserve-content * {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

*:not(.font-faro) {
  font-family: '__Lausanne_5a9c02', '__Lausanne_Fallback_5a9c02'!important;
} 


.reserve-header > div > div {
  border-radius: 0px;
}


.reserve-header > div:last-child > div {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.reserve-header > div:first-child > div {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.reserve-header > div > div.bg-pink-secondary {
  border-radius: 0.375rem;
}

.date-container > div:first-child button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}


.date-container > div:nth-child(2) button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 1px solid #ccc
}

@media (min-width: 1280px) {
.container {
    margin-left: auto;
    margin-right: auto;
}
}

@media (max-width: 580px) {

  .nav-container {
    width: 100%;
  }
  
  .nav-main a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
  }

  .nav-main li {
    margin-top: 0 !important;
  }

  .nav-main li:not(:first-child, :nth-child(2)) {
    display: none;
  }

  .nav-main li:first-child, .nav-main li:nth-child(2) {
    flex: 1;
  } 

}